* {
  margin: 0;
  padding: 0;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Roboto slab', sans-serif;
    background-color: #c9e4ca;
    color: #F1FAEE;
}
#root {
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
}

.super-center {
  justify-content: center;
  align-items: center;
}

.j-c-center {
  justify-content: center;
}

.a-i-center {
  align-items: center;
}

.d-column{
  flex-direction: column;
}
