.Menu {width: 100%;}
.Menu .picker {
    align-items: center;
    text-align: left;
    display: flex;
    min-width: 310px;
    width: 95%;
    max-width: 370px;
  }
  .Menu .links {
    color: white;
    width: 100%;
    height: 100vh;
    background-color: #2F3E46;
    font-size: 25px;
  }
  
  .Menu .links > * {
    padding: 0.1em 0;
  }
  .Menu .color {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
  }
  .Menu .ColorPicker input{
    display: block;
    margin-left: auto;
  }
  .Menu .links a{
    color: white;
    /*padding: 5px 16px;*/
    text-decoration: none;
    display: block;
    margin-top: 0.2em;
  }
  
  .Menu .ListConnector {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .Menu .ListConnector input[type=text]{
    width: 80px;
  }
  .Menu input[type=submit]{
    margin-left: 0.5em;
    background-color: #87bba2;
    color: #364958;
    font-weight: bold;
  }
  .List input[type=submit]:hover {
    opacity: 0.8;
  }
  
  .Menu input[type=text], input[type=submit]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .Menu .links a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .Menu .active {
    background-color: #4CAF50;
    color: white;
  }