.List .ItemAdder input[type=text]{
  width: 75%;
}
.List .ListConnector {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.List .ListConnector input[type=text]{
  width: 80px;
}
.List input[type=submit]{
  margin-left: 0.5em;
  background-color: #364958;
  color: #F1FAEE;
  font-weight: bold;
}
.List input[type=submit]:hover {
  opacity: 0.8;
}

.List input[type=text], input[type=submit]{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.List {
  width: 70%;
  display: inline-block;
  margin-bottom: 1em;
}

.List .items {
  border: 1px solid #c9e4ca;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 716px;
}

.ItemAdder {
  width: 100%;
}
.List .ListItem {
  margin: 0.2em;
  width: calc(100% - 32px);
  max-width: 668px;
  padding: 1em;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 3px 4px #9eb39f;
}

/*.List .ListItem:nth-child(even) {
  background-color: #1D3557;
  color: #F1FAEE;
}*/

.List .ListItem > p{
  flex: 1;
  margin-right: 0.3em;
}
.List .ListItem > button{
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #E63946;
  color: white;
  width: 30px;
  max-height: 24px;
  font-size: 120%;
}

.List .ListItem > button:hover {
  background-color: #BF2B35;
}

@media screen and (max-width: 530px) {
  .List {
    width: 98%;
  }
  .List .ItemAdder input[type=submit] {
    width: 20%;
    padding: 12px 10px;
  }
}
